//Подключение шрифтов
@import "fonts.scss";
//Обнуление стилей
@import "null.scss";
//Основной код

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(47, 202, 207);
}
.walpaper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 1 auto;
    padding: 50px 0 120px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}
.menu {
}
.hello {
    padding: 10px 0 80px 0;
    &__header {
        text-align: center;
        color: rgb(21, 22, 63);
        font-size: 30px;
        font-weight: 700;
    }
    &__p {
        padding: 25px 0 0 0;
    }
}
.images {
}


#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#slides .image img{ /*устанавливает общий размер блока с изображениями*/
	max-width: 400px;
	max-height: 600px;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}



article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 450px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#r1:checked ~ #controls label:nth-child(5), 
#r2:checked ~ #controls label:nth-child(1),
#r3:checked ~ #controls label:nth-child(2),
#r4:checked ~ #controls label:nth-child(3),
#r5:checked ~ #controls label:nth-child(4){
	background: url('../media/img/icons/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: -40% 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#r1:checked ~ #controls label:nth-child(2), 
#r2:checked ~ #controls label:nth-child(3),
#r3:checked ~ #controls label:nth-child(4),
#r4:checked ~ #controls label:nth-child(5),
#r5:checked ~ #controls label:nth-child(1){
	background: url('../media/img/icons/next.png') no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: -40% -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

label {
    margin: 0 20px 0 20px;
}

.images input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#r1:checked ~ #slides .image{
	margin-left: 0;
}

#r2:checked ~ #slides .image{
	margin-left: -100%;
}

#r3:checked ~ #slides .image{
	margin-left: -200%;
}

#r4:checked ~ #slides .image{
	margin-left: -300%;
}

#r5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -28% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 40px;
	height: 20px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 28% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#r1:checked ~ #active label:nth-child(1),
#r2:checked ~ #active label:nth-child(2),
#r3:checked ~ #active label:nth-child(3),
#r4:checked ~ #active label:nth-child(4),
#r5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}



.video {
    position: relative;
	text-align: center;
    padding: 100px 0 0 0;
    margin: 0 auto;
    &__header {
        text-align: center;
        color: rgb(21, 22, 63);
        font-size: 30px;
        font-weight: 700;
    }
    &__p {
        padding: 50px 0 80px 0;
    }
}
.footer {
}





//Адаптив (ВСЕГДА В КОНЦЕ)
@import "adaptation.scss";
